body { /* Define as configurações gerais do corpo da página */
    background-color: rgb(70, 142, 236);
        /* Define a cor de fundo da página utilizando RGB */
    font: normal 15pt Arial;
        /* Define a fonte da página
        normal = estilo normal
        15pt = tamanho da fonte
        Arial = tipo da fonte */
}

header { /* Define as configurações do cabeçalho */
    color: white;
        /* Define a cor do texto como branca */
    text-align: center;
        /* Centraliza o texto horizontalmente */
}

section { /* Define as configurações da seção principal */
    background-color: white;
        /* Define o fundo da seção como branco */
    border-radius: 10px;
        /* Arredonda os cantos da seção */
    padding: 15px;
        /* Cria um espaço interno de 15 pixels */
    width: 500px;
        /* Define a largura da seção como 500 pixels */
    margin: auto;
        /* Centraliza a seção horizontalmente */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
        /* Adiciona uma sombra ao redor da seção
        3px = deslocamento horizontal
        3px = deslocamento vertical
        10px = desfoque
        rgba() = cor preta com transparência */
}

footer { /* Define as configurações do rodapé */
    color: white;
        /* Define a cor do texto como branca */
    text-align: center;
        /* Centraliza o texto */
    font-style: italic;
        /* Deixa o texto em itálico */
}