body { /* Define as configurações gerais do corpo da página */
    background-color: white;
        /* Define a cor de fundo inicial da página como branca */
    font: normal 15pt Arial;
        /* Define a fonte utilizada na página
        normal = estilo normal
        15pt = tamanho da fonte
        Arial = tipo da fonte */
}

header { /* Define as configurações do cabeçalho */
    color: white;
        /* Define a cor do texto como branca */
    text-align: center;
        /* Centraliza o texto horizontalmente */
}

section { /* Define as configurações da seção principal */
    background-color: white;
        /* Define o fundo da seção como branco */
    border-radius: 10px;
        /* Arredonda os cantos da seção em 10 pixels */
    padding: 15px;
        /* Cria um espaço interno de 15 pixels entre o conteúdo
        e as bordas da seção */
    width: 500px;
        /* Define a largura da seção como 500 pixels */
    margin: auto;
        /* Centraliza a seção horizontalmente na página */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
        /* Cria uma sombra ao redor da seção
        3px = deslocamento horizontal
        3px = deslocamento vertical
        10px = desfoque da sombra
        rgba() = define a cor preta com transparência */
}

#foto { /* Seleciona o elemento que possui o ID "foto" */
    text-align: center;
        /* Centraliza o conteúdo dentro da div */
}

#msg1 { /* Seleciona o elemento que possui o ID "msg1" */
    text-align: center;
        /* Centraliza o texto horizontalmente */
    padding: 8px;
        /* Adiciona um espaço interno de 8 pixels */
}

#msg2 { /* Seleciona o elemento que possui o ID "msg2" */
    text-align: center;
        /* Centraliza o texto horizontalmente */
    padding: 8px;
        /* Adiciona um espaço interno de 8 pixels */
}

img { /* Seleciona todas as imagens da página */
    width: 350px;
        /* Define a largura das imagens como 350 pixels */
}

footer { /* Define as configurações do rodapé */
    color: white;
        /* Define a cor do texto como branca */
    text-align: center;
        /* Centraliza o texto do rodapé */
    font-style: italic;
        /* Deixa o texto do rodapé em itálico */
}